/* .fcontaer{
    height:650px;
    width: 800px;
    background-color: aquamarine;
} */
*{
    
    
}
.main{
    background-color: aqua;
    display: flex;
}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(207, 206, 206);
border: 1px solid black;

}

.box1{
    background-color: black;
    position: absolute;
    right: 0px;
    top: 20px;
}


.p{
text-align: center;


}
img{


}


























